# School Data To Curated

Preprocess the raw school data to curated

## Import package

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('../../data/raw/raw_school_locations.csv')
df.head()

,school_name,address,suburb,state,postcode,education_sector,phone_number,x_coor,y_coor
0,Alberton Primary School,21 Thomson Street,Alberton,VIC,3971,Government,03 5183 2412,146.66660,-38.61771
1,Allansford and District Primary School,Frank Street,Allansford,VIC,3277,Government,03 5565 1382,142.59039,-38.38628
2,Avoca Primary School,118 Barnett Street,Avoca,VIC,3467,Government,03 5465 3176,143.47565,-37.08450
3,Avenel Primary School,40 Anderson Street,Avenel,VIC,3664,Government,03 5796 2264,145.23472,-36.90137
4,Warrandyte Primary School,5-11 Forbes Street,Warrandyte,VIC,3113,Government,03 9844 3537,145.21398,-37.74268

In [9]:
df = df.rename(columns={'x_coor': 'longtitude', 'y_coor': 'latitude'})
df.head()

,school_name,address,suburb,state,postcode,education_sector,phone_number,longtitude,latitude
0,Alberton Primary School,21 Thomson Street,Alberton,VIC,3971,Government,03 5183 2412,146.66660,-38.61771
1,Allansford and District Primary School,Frank Street,Allansford,VIC,3277,Government,03 5565 1382,142.59039,-38.38628
2,Avoca Primary School,118 Barnett Street,Avoca,VIC,3467,Government,03 5465 3176,143.47565,-37.08450
3,Avenel Primary School,40 Anderson Street,Avenel,VIC,3664,Government,03 5796 2264,145.23472,-36.90137
4,Warrandyte Primary School,5-11 Forbes Street,Warrandyte,VIC,3113,Government,03 9844 3537,145.21398,-37.74268

## Drop state and phone_number

In [10]:
# Drop the 'state' and 'phone_number' columns
df = df.drop(columns=['state', 'phone_number', 'address'])
df.head()

,school_name,suburb,postcode,education_sector,longtitude,latitude
0,Alberton Primary School,Alberton,3971,Government,146.66660,-38.61771
1,Allansford and District Primary School,Allansford,3277,Government,142.59039,-38.38628
2,Avoca Primary School,Avoca,3467,Government,143.47565,-37.08450
3,Avenel Primary School,Avenel,3664,Government,145.23472,-36.90137
4,Warrandyte Primary School,Warrandyte,3113,Government,145.21398,-37.74268

In [11]:
# Convert the suburb values to lowercase
df['suburb'] = df['suburb'].str.lower()
df.head()

,school_name,suburb,postcode,education_sector,longtitude,latitude
0,Alberton Primary School,alberton,3971,Government,146.66660,-38.61771
1,Allansford and District Primary School,allansford,3277,Government,142.59039,-38.38628
2,Avoca Primary School,avoca,3467,Government,143.47565,-37.08450
3,Avenel Primary School,avenel,3664,Government,145.23472,-36.90137
4,Warrandyte Primary School,warrandyte,3113,Government,145.21398,-37.74268

## Save the data

In [12]:
df.to_csv('../../data/curated/curated_school_location.csv', index = False)